
body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    background: rgb(65,85,68);
    background: linear-gradient(90deg, rgb(18, 34, 28) 9%, rgb(29, 41, 36) 44%, rgba(31,41,37,1) 76%);
}
h2,h3{
    color: #aaaaaa
}

textarea:focus, input:focus, select:focus {
    box-shadow: none;
    border: 0 none;
    outline: 0;
    outline-offset: 0;
}

input::-webkit-input-placeholder{
    opacity: 0.4;
}

.box{
    display: inline-block;
    margin-left: 6%;
}
#logo{
    padding: 0%;
    width: 80px;
    margin-left: 27px;
}
h1{
    font-weight: 600;
    font-size: 24px;
    
}
header{
    height: 90px;
    padding-bottom: 30px;
    background: rgb(0,19,36);
    background: linear-gradient(90deg, rgb(31, 129, 72) 0%, rgb(48, 122, 55) 47%, rgb(25, 75, 57) 100%);
    position: relative;
    width: auto;
}

.search-box{
    font-weight: bold;
    display: inline-block;
    position: relative;
    margin-left: 15%;
    width: 400px;
    vertical-align: top;
    margin-top: 46px;
}

.search-box label{
    margin-left: 15px;
}

.search-input{
    position: relative;
    }
#main-search{
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 10px;
    width: 114%;
    height: 32px;
    background-color: white;
    margin-left: 10px;
    

}
#main-search:focus{
    box-shadow: 1px 1px 1px 1px;
}

.search-icon{
    padding: 0px;
    border-radius: 8px;
    width: 21px;
    transition: 0.8s;
}

.search-icon:hover{
    background: #cccccc;
}

.search-btn{
    position: absolute;
    right: -54px;
    top: 14px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    background: transparent;
    cursor: pointer;
    border: 0 none;
    outline: 0;
}



#main-display{
    white-space: nowrap;
    overflow-x: auto;
    vertical-align: top;
}
.lista-usuarios{
    background: rgb(151,153,151);
    background: linear-gradient(90deg, rgb(43, 49, 43) 9%, rgb(40, 48, 44) 47%, rgb(45, 56, 52) 91%);
    border-radius: 10px;
    padding: 0.2%;
    display: inline-block;
    height: fit-content;
    vertical-align: top;
    width: auto;
    max-width: 767px;
    
}


#filter-form{
    display: block;
    width: max-content;
}
.user-list-block{
    display: inline-block;
    position: relative;
    height: max-content;
    width: 54%;
    vertical-align: top;
    white-space: initial;
    margin-bottom: 3%;
    margin-left: 9%;
    padding-left: auto;
    padding-right: auto;
}

hr{
    margin-top: 20px;
    position: relative;
}

.page-list{
    font-size: 26px;
}

.paginas li{
    display: inline-block;
    color: black;
    padding: 2px;
    margin: 1px;
}

.paginas li:hover{
    text-decoration: underline;
    cursor: pointer;

}

.user-card{
    display: inline-block;
    border-radius: 5px;
    width: 243px;
    margin: 6px;
    background: rgb(0,19,36);
    background: linear-gradient(90deg,rgba(31,92,37,1) 47%, rgba(26,128,92,1) 100%);
    
}

.user-card:hover{
    transform: scale(1.02);
    opacity: 0.8;
}


.user-card div{
    display: inline-block;
    border-radius: 30px;
    vertical-align: middle;
    max-width: 150px;
    
}

.user-card img{
    width: 76px;
    border-radius: 5px;
    margin: 4px;
    bottom: 2px;
}


.user-card div a{
    color: #cccccc;
    text-decoration: none;
    font-size: 16px;
    margin-left: 3px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    
}

.user-card div a:hover{
    text-decoration: underline;
}



label{
    font-size: 14px;
    font-weight: normal;
    color: #bbbbbb;
}



.filtra-data-config,.filtra-seguidores-config,.filtra-repos-config{
    color: #bbbbbb;
    position: relative;
}


#filter-submit{
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 20px;
    width: 220px;
    height: 35px;
    background: #087441;
    border-radius: 5px;
    border-color: black;
}

#filter-submit:hover{
    cursor: pointer;
    background: #249b63;
    transition: 1s;
}

span{
    color:red;
    font-size: 18px;
}
.error-msg{
    position: absolute;
    color: red;
}

.hidden-order{
    display: none;
}

#min-repos,#max-repos,#min-seguidores,#max-seguidores,#min-data-cad,#max-data-cad{
    width: 132px;
}

.tela-carregamento{
    margin-left: 33%;
    position: absolute;
    margin-top: 14%;

}
.tela-carregamento h4{
    margin-bottom: 6%;
}

.loading{
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #279e4b; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: 33%;
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* width */
::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #c6c6c9;
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }




main{
    margin-top: 1%;
}

.dropdown{
    display: inline-block;
    margin-left: 21%;
    font-size: 21px;
    text-transform: uppercase;
    vertical-align: top;
}

.dropdown:hover{
    cursor: pointer;
}

.drop-arrow{
    width: 12px;
    transform: rotate(270deg);
    transition: 0.4s;
}
@keyframes drop-down{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

.dropdown-content{
    height: 0px;
    position: absolute;
}
.transition{
    display: block;
    animation: 1s drop-down;
}


.clicked-arrow{
    transform: rotate(360deg);
    transition: 0.4s;
}

.space{
    width: 9em;
    margin-left: 9%;
    color: transparent;
    border: none;
}

.switch-label{
    font-size: 18px;
    display: inline;
    margin-left: 4px;
    vertical-align: bottom;
    color: #bbbbbb;
}

#filtro-data,#filtro-seg,#filtro-repos,#sort-option{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch{
    display: inline-block;
    position: relative;
    width: 32px;
    height: 18px;
    border-radius: 10%;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 18%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 19px;
    left: 0px;
    bottom: 1px;
    border-radius: 18%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #1da77d;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #15946e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }

  .drop-sort-options,.drop-data-cad,.drop-seg,.drop-repos{
    height: 20%;
    vertical-align: top;
  }