
body{
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    background: #555555;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 1px 1px 1px 1px;
    border: 0 none;
    outline: 0;
}

input::-webkit-input-placeholder{
    opacity: 0.4;
}

#logo{
    padding: 0%;
    width: 220px;
    margin-left: 10%;
}
header{
    height: auto;
    padding-bottom: 30px;
    background: #087441;
    position: relative;
    width: 100%;
}

.search-box{
    font-weight: bold;
    display: inline-block;
    position: relative;
    margin-left: 10%;
    width: fit-content;
    
    
}

#main-search{
    border: black 1px solid;
    border-radius: 15px;
    width: 200%;
    height: 35px;
    background: url("../images/searchicon.png")  right   no-repeat;
    background-color: white;
    margin-left: 10px;

}

h1{ 
    display: inline-block;
    font-size: 2em;
    position: absolute;
    top: 30%;
    right: 5%;
    bottom: 10%;
    
}

footer{
    margin-top: 170px;
    width: 100%;
    background: #087441;
    margin-bottom: 0px;
    padding-bottom: 0;
}

#logo-foot{
    padding: 0%;
    width: 220px;
    margin-left: 41%;
}

.paginas li{
    display: inline-block;
    color: black;
}

.paginas li:hover{
    text-decoration: underline;
    cursor: pointer;

}

.user-card{
    border: 3px solid;
    border-radius: 5px;
    padding: 5px;
    width: 470px;
    margin: 10px;
    background: #087441;

}

.user-card:hover{
    transform: scale(1.03);
    opacity: 0.9;
}


.user-card div{
    display: inline-block;
    border-radius: 30px;
    
}

.user-card img{
    width: 78px;
    border-radius: 5px;
    margin-right: 10px;
}


.user-card div a{
    color: black;
    text-decoration: none;
}

.user-card div a:hover{
    text-decoration: underline;
}

.lista-usuarios{
    display: grid;
    grid-template-columns: 480px 480px 480px;
    grid-column-gap: 25px;
    
}