#user-profile{
    border: none;
    border-radius: 20px;
    width: 60%;
    margin-left: 15%;
    color: #cccccc;
    background: rgb(36,41,33);
    background: linear-gradient(90deg, rgba(36,41,33,1) 0%, rgb(6, 36, 8) 31%, rgb(6, 37, 22) 65%, rgba(55,73,64,1) 87%);
    padding: 20px

}
#user-profile div{
    display: inline-block;
}

h2{
    margin-left: 30px;
}

#profile-pic{
    width: 300px;
    border-radius: 40px;
    margin: 15px;
}

.user-info{
    font-size: 20px;
    height: 100%;
    width: 30%;
    margin-left: 30px;
    margin-top: 4%;
    vertical-align: top;
    
}

.user-info p{
    margin-bottom: 25px;
}

h4{
    font-size: 24px;
}
h4 a{
    color: #aaaaaa;
    text-decoration: none;
}

h4 a:hover{
    color: #cccccc;
    text-decoration: underline;
    transition: 0.9s;
}