body{
    font-family: 'Ubuntu', sans-serif;
}

#user-profile{
    border: none;
    border-radius: 20px;
    width: auto;
    max-width: 70%;
    color: #aeb18b;
    margin-left: -5%;
    background: rgb(36,41,33);
    background: linear-gradient(90deg, rgb(23, 54, 39) 65%, rgb(35, 71, 53) 87%);
    padding: 20px;
}

#user-profile div{
    display: inline-block;
}

h2{
    margin-left: 30px;
}

#profile-pic{
    width: 300px;
    border-radius: 40px;
    margin: 15px;
}

.user-info{
    font-size: 20px;
    height: 100%;
    width: auto;
    max-width: 60%;
    margin: auto;
    margin-top: 3%;
    vertical-align: top;
    
}

.user-info p{
    margin-bottom: 25px;
}

h4{
    font-size: 30px;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 22px;
    color: azure;
}

h4 a{
    color: #aaaaaa;
    text-decoration: none;
    position: absolute;
    margin-left: 28%;
}

h4 a:hover{
    color: #cccccc;
    text-decoration: underline;
    transition: 0.9s;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.break{
    flex-basis: 100%;
    height: 0;
}
